.imgtrup-wrapper ul {
    margin: 0;
    padding: 0;
}

.imgtrup-wrapper ul li {
    list-style-type: none;
    margin: 5px;
}

.imgtrup-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.imgtr-btn-wrapper {
    margin: 10px 0;
}

.imgtrup-wrapper ul li {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.imgtrup-wrapper ul li:hover .imgtrup-tip {
    bottom: 0;
}

.imgtrup-tip {
    transition: bottom 0.5s;
    bottom: -40%;
    position: absolute;
    width: 100%;
    height: 30%;
    color: #fff;
    font-weight: bold;
    font-size: 85%;
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    padding: 10px 20px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#B3000000', GradientType=0);
}